@model BKStore_MVC.ViewModel.BookCategVM
@using X.PagedList.Mvc.Core
@using X.PagedList
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutC";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Categories</h3>
            <ul class="list-group">
                @if (Model.categories != null)
                {
                    @foreach (var category in Model.categories)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/Book/GetBooksCategory/@category.CategoryID" class="text-decoration-none">@category.Name</a>
                            <span class="badge badge-primary badge-pill">@category.Book?.Count</span>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No categories available</li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            <h3>Books</h3>
            <div class="row">
                @if (Model.books != null && Model.books.Any())
                {
                    @foreach (var book in Model.books)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <a href="@Url.Action("Details", "Book", new { Bookid = book.BookID })">
                                    <img src="~/assets/img/@book.ImagePath" class="card-img-top" alt="@book.Title">
                                    <div class="card-body">
                                        <h5 class="card-title">@book.Title</h5>
                                        <p class="card-text">Author: @book.AuthorName</p>
                                        <p class="card-text">Price: <strong>@book.Price</strong></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No books available</p>
                }
            </div>
            <div class="pagination-container">
                @Html.PagedListPager(Model.books, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>

<style>
    .list-group-item a {
        color: #000;
    }

    .list-group-item a:hover {
        color: #007bff;
        text-decoration: underline;
    }

    .badge-pill {
        background-color: #007bff;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .badge-danger {
        background-color: #dc3545;
    }

    .pagination-container {
        text-align: center;
        margin-top: 20px;
    }
</style>
